


@model List<Flight>

    @*<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>*@



    <h2>Search Flights</h2>

    <form method="get">
        <div class="form-group">
            <label for="searchText">Search:</label>
            <input type="text" name="searchText" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    @if (Model != null && Model.Count > 0)
    {
        <h3>Search Results:</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Flight Number</th>
                    <th>Departure</th>
                    <th>Arrival</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var flight in Model)
                {
                    <tr>
                        <td>@flight.FlightNumber</td>
                        <td>@flight.DepartureTime</td>
                        <td>@flight.ArrivalTime</td>
                        <td>@flight.Price</td>
                    </tr>
                }
            </tbody>
        </table>
    }
